@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --color-primary: #060b35;
  --color-secondary: #616070;
  --color-gray: #e5e5e5;
  --color-blue: #00acdc;
  --color-alternative: #5a5e79;
}

*,
*::after,
*::before,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  color: var(--color-primary);
}

.card {
  display: flex;
  flex-direction: column;
  padding: 32px 16px 12px;
  width: 200px;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  background-color: #fff;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.image-container > img {
  width: 160px;
  height: 134px;
  margin: 0 auto;
}

.description {
  margin-bottom: 6px;
}

.title {
  margin: 25px auto 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 18px;
  font-style: normal;
  font-size: 12px;
  margin-bottom: 1px;
}

.subtitle {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: var(--color-secondary);
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  font-style: normal;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.reviews {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: var(--color-primary);
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  font-style: normal;
  margin-bottom: 3px;
}

.stars {
  display: flex;
  align-items: center;
  width: 56.5%;
  margin-top: 8px;
  margin-bottom: 13px;
  margin-left: 1px;
}

.star {
  background-image: url("./images/star.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 17px;
  height: 17px;
}

.star:not(:last-child) {
  margin-right: 6px;
}

.stars--4 > .star:nth-child(-n + 4) {
  background-image: url("./images/star-active.svg");
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1px;
  margin-bottom: 6px;
}

.price-title {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
  color: var(--color-secondary);
}

.price-value {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 14px;
  font-style: normal;
  color: var(--color-primary);
  text-align: right;
}

.buy {
  width: 166px;
  height: 40px;
  margin: 10px auto 5px;
}

.buy-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 80px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background-color: var(--color-blue);
  border-radius: 5px;
  text-transform: uppercase;
}

.buy-link:hover {
  background-color: #fff;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 5px;
}
